<div class="create-student">
     <form method="POST" action="/students/store">
     <div class="form-group">
          <label for="student-name">Họ tên sinh viên</label>
          <input type="text" id="student-name" class="form-control" placeholder="họ và tên" name="name">
     </div>
     <div class="form-group">
          <label for="dateOfBirth">Năm sinh</label>
          <input type="date" id="dateOfBirth" class="form-control" name="age">
     </div>
     <div class="form-group">
          <label for="math_score">Điểm toán</label>
          <input type="number" id="math_score" class="form-control" placeholder="nhập điểm toán" name="math">
     </div>
     <div class="form-group">
          <label for="physical_score">Điểm lí</label>
          <input type="number" id="physical_score" class="form-control" placeholder="nhập điểm lí" name="physical">
     </div>
     <div class="form-group">
          <label for="chemistry_score">Điểm hóa</label>
          <input type="number" id="chemistry_score" class="form-control" placeholder="nhập điểm hóa" name="chemistry">
     </div>
     <div class="form-group">
          <label for="average_score">Trung bình</label>
          <input type="number" id="average_score" class="form-control" placeholder="điểm trung bình" name="average">
     </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
     </form>
</div>